<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
  <title>Fortune Securities PTY LTD</title>
  <script src="bower_components/vue/dist/vue.min.js" type="text/javascript"></script>
  <script src="bower_components/hammerjs/hammer.min.js" type="text/javascript"></script>
  <script type="text/javascript">
	  var hmt = hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?4a05b34486517c3ca9700afa315ce086";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
  </script>
  <link rel="stylesheet" href="style/style.css">
  <link href="style/table.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <page-header :menus="{
   spLinks: [
        { legend: '會員登入', link: 'https://subscriber.mforex.com/MLMDW/Default.aspx?lang=1', bgPad: true },
        { legend: '聯繫我們', link: 'content_us.html' }
   ],
   language: {
     legend: '語言',
     nodes: [
          { legend: 'ENGLISH', link: '../index.html' },
          { legend: '简体中文', link: '../CN/index.html' },
          { legend: '繁体中文', link: 'index.html' }
     ]
   },
   boxGroups: [
     {
       legend: '關於我們',  link: 'about_us.html',
       nodes: [
            { legend: '我們的優勢', link: 'us_advantage.html' },
            { legend: '全球未來發展', link: 'global_future.html' },
            { legend: '我們的成員', link: 'team.html' },
            { legend: '合作夥伴', link: 'partner.html' },
            { legend: '網站安全及稳定保障', link: 'security.html'}, 
       ]
     },
     {
       legend: '理財項目',
       nodes: [
             { legend: '外匯產品', link: 'fx_product.html' },
            { legend: '與MS交易比特幣', link: 'bitcoin.html' },
            { legend: '交易平台', link: 'trading_platform.html' },
       ]
     },
     {
       legend: '交易培訓',
       nodes: [
             { legend: '新手入門', link: 'gettingstarted.html' },
            { legend: '外匯市場特點', link: 'fx_feature.html' },
            { legend: '直通式处理交易经纪商 (STP)', link: 'stp.html' },
            { legend: '差價合约', link: 'cfds.html' },
            { legend: '基本知識', link: 'basics.html' },
            { legend: '如何交易比特幣', link: 'howtrade_bitcoin.html'},
            { legend: '基本分析', link: 'basic_analysis.html' },
            { legend: '技術分析', link: 'technical_analysis.html' },
            { legend: '常用術語', link: 'terms.html' },

       ]
     }
   ]
 }" menu-title="Menu">
      <a href="index.html" slot="logo">
        <h1 class="header__logo">MS</h1>
      </a>
    </page-header>
    <div class="content-wrap">
      <div class="wrap__start">
        <content-nav :now="0" :nodes="
  [
    {
       legend: '關於我們',  link: 'about_us.html',
        children:  [
          { legend: '我們的優勢', link: 'us_advantage.html'},
          { legend: '全球未來的發展', link: 'global_future.html'},
          { legend: '我們的成員', link: 'team.html'},
          { legend: '合作夥伴', link: 'partner.html'},
          { legend: '網站安全及稳定保障', link: 'security.html'},
      ]
    },
    {
       legend: '理財項目',
        children:  [
           { legend: '外匯產品', link: 'fx_product.html'},
          { legend: '與MS交易比特幣', link: 'bitcoin.html'},
          { legend: '交易平台', link: 'trading_platform.html'},
      ]
    },
      {
        legend: '交易培訓',
        children:  [
          { legend: '新手入門', link: 'gettingstarted.html'},
          { legend: '外匯市場特點', link: 'fx_feature.html'},
          { legend: '直通式处理交易经纪商 (STP)', link: 'stp.html'},
          { legend: '差價合約', link: 'cfds.html'},
          { legend: '基本知識', link: 'basics.html'},
          { legend: '如何交易比特幣', link: 'howtrade_bitcoin.html'},
          { legend: '基本分析', link: 'basic_analysis.html'},
          { legend: '技術分析', link: 'technical_analysis.html'},
          { legend: '常用術語', link: 'terms.html'},
      ]
    },
  ]"></content-nav>
      </div>
      <div class="wrap__end">
        <div class="content__inside">
          <h2>交易執行策略</h2>
          
          <p>請注意，MS集團只提供"交易面"服務，不會向您提供投資建議。如果您與我司簽訂協定，這並不代表MS集團會向您推薦或贊同您所選擇的合約，也不代表MS集團認為這份合約適合您。</p>
 
            <p>MS集團不會在接觸過程中給您任何交易或市場推薦、建議或指示。這其中包括我司市場評論等。</p>
            
            <p>當我司代表您執行命令時，我司會根據合約操作條款（操作條款）來進行操作。執行條款會隨時進行更改。</p>
            
            <p>我司提供都是建立在"報價交易"原則的基礎上的服務。我司會根據您的需求向您提供報價資訊，所有報價資訊是由業內認可且可靠度高的資訊源提供。在您接受報價，且我司在一段特定時間內從（您處）收到指示後，我司將按您所接受的價格在倫敦進行合約交易操作。</p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <nav class="footer__nav"><a class="footer__nav__node" href="privacy_statement.html">保護客戶資料聲明</a><a class="footer__nav__node" href="high_risk_warning.html">風險警告</a><a class="footer__nav__node" href="execution_policy.html">交易執行策略</a></nav>
      <p class="footer__copyright"><span>COPYRIGHT© 2009-2016 -</span><span>Fortune Securities PTY LTD</span></p>
      <p><span>電話:</span><a href="tel:+61862252020">+61 8 6225 2020</a></p>
      <p><span>Email:</span><a href="mailto:cs@mforex.com">cs@mforex.com</a></p>
    </footer>
    <aside class="right-ad">
      <a href="#" target="_blank"><img src="images/upload/right_ad.png"></a>
    </aside>
    <aside class="go-top" @click="goTop()"></aside>
  </div>
  <script type="text/x-template" id="content-nav-template">
    <div class="content-nav" v-if="nodes.length &gt;= 1"><a class="content-nav__result" @click.prevent="navAction()" :class="{ 'js--opened': isNavOpen }"><span>{{ nodes[now].legend }}</span></a>
      <ul class="content-nav__nodes" :class="{ 'js--opened': isNavOpen }"><template v-for="node, i in nodes"><li class="ul__legend">{{ node.legend }}</li><template v-for="child, k in node.children"><transition name="content-nav-node"><li :class="{ 'js--opened': isNavOpen }" :style="{ 'transition-delay': delay(k)}"><a :href="child.link">{{ child.legend }}</a></li></transition></template></template>
      </ul>
    </div>
  </script>
  <script type="text/x-template" id="page-header-template">
    <div class="page-header"><template><div class="header__start" :class="{ 'js--active': menuActive }"><slot name="logo"></slot><div class="header__menu"><div class="header--pad header--pad--no-pc"><div class="header__flex"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
    </div>
    <a class="menu-btn__hamburger" @click.prevent="menuAction">
      <div class="hamburger__nodes" :class="{ 'js--active': menuActive }"><span class="node"></span></div><span class="hamburger__legend">{{ menuTitle }}</span></a>
    </div>
    </div>
    <div class="header__end" :class="{ 'js--active': menuActive }">
      <div class="header__box"><template v-for="boxGroup in menus.boxGroups"><box-group :link="boxGroup.link" :target="boxGroup.target" :legend="boxGroup.legend" :nodes="boxGroup.nodes"></box-group></template>
        <div class="header--mobile header--mobile--but-pc">
          <div class="sp-links-box"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
        </div>
        <box-group :legend="menus.language.legend" :nodes="menus.language.nodes" :append-class="'lang'"></box-group>
      </div>
    </div>
    </template>
    </div>
  </script>
  <script type="text/x-template" id="box-group-template">
    <div class="header__box__group" @mouseenter.prevent="onMouseenter()" @mouseleave.prevent="onMouseleave()"><template><hr><a class="h2" :href="link" :class="[{ 'js--active': active }, appendClass]">{{ legend }}</a><ul :class="[{ 'js--active': active }, appendClass]"><template v-for="node, i in nodes"><transition name="content-nav-node"><li><a :href="node.link" :target="node.target">{{ node.legend }}</a></li></transition></template></ul>
      </template>
    </div>
  </script>
  <script type="text/x-template" id="slider-box-template">
    <div class="slider-box">
      <div class="slider__wrap">
        <div class="slider__contents"><template v-for="node, i in nodes"><transition name="shoow-box"><div class="slider__content" :class="nodeClass" v-show="nowNode == i"><img class="slider-box__img" :src="node.src"><div class="contents"><h3>{{ node.h3 }}</h3><p>{{ node.p }}</p><div class="button">{{ node.button }}</div></div></div></transition></template></div>
        <a
          class="slider__link" :href="nodes[nowNode].link" :target="nodes[nowNode].target" @mouseenter="stopRoutine()" @mouseleave="routine()">{{ nodes[nowNode].h3 }}</a><a class="slider__last slider__action" @click="nodeAction({action: 'last'})">last</a><a class="slider__next slider__action" @click="nodeAction({action: 'next'})">next</a></div>
    </div>
  </script>
  <script type="text/x-template" id="scroll-template">
    <div class="scroll" @click="doScroll">
      <p>scroll</p>
    </div>
  </script>
  <script src="scripts/script.min.js" type="text/javascript"></script>
</body>

</html>
