<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
  <title>Fortune Securities PTY LTD</title>
  <script src="bower_components/vue/dist/vue.min.js" type="text/javascript"></script>
  <script src="bower_components/hammerjs/hammer.min.js" type="text/javascript"></script>
  <script type="text/javascript">
	  var hmt = hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?4a05b34486517c3ca9700afa315ce086";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
  </script>
  <link rel="stylesheet" href="style/style.css">
  <link href="style/table.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
    <page-header :menus="{
   spLinks: [
        { legend: '會員登入', link: 'https://subscriber.mforex.com/MLMDW/Default.aspx?lang=1', bgPad: true },
        { legend: '聯繫我們', link: 'content_us.html' }
   ],
   language: {
     legend: '語言',
     nodes: [
          { legend: 'ENGLISH', link: '../index.html' },
          { legend: '简体中文', link: '../CN/index.html' },
          { legend: '繁体中文', link: 'index.html' }
     ]
   },
   boxGroups: [
     {
       legend: '關於我們',  link: 'about_us.html',
       nodes: [
            { legend: '我們的優勢', link: 'us_advantage.html' },
            { legend: '全球未來發展', link: 'global_future.html' },
            { legend: '我們的成員', link: 'team.html' },
            { legend: '合作夥伴', link: 'partner.html' },
            { legend: '網站安全及稳定保障', link: 'security.html'}, 
       ]
     },
     {
       legend: '理財項目',
       nodes: [
             { legend: '外匯產品', link: 'fx_product.html' },
            { legend: '與MS交易比特幣', link: 'bitcoin.html' },
            { legend: '交易平台', link: 'trading_platform.html' },
       ]
     },
     {
       legend: '交易培訓',
       nodes: [
             { legend: '新手入門', link: 'gettingstarted.html' },
            { legend: '外匯市場特點', link: 'fx_feature.html' },
            { legend: '直通式处理交易经纪商 (STP)', link: 'stp.html' },
            { legend: '差價合约', link: 'cfds.html' },
            { legend: '基本知識', link: 'basics.html' },
            { legend: '如何交易比特幣', link: 'howtrade_bitcoin.html'},
            { legend: '基本分析', link: 'basic_analysis.html' },
            { legend: '技術分析', link: 'technical_analysis.html' },
            { legend: '常用術語', link: 'terms.html' },

       ]
     }
   ]
 }" menu-title="Menu">
      <a href="index.html" slot="logo">
        <h1 class="header__logo">MS</h1>
      </a>
    </page-header>
    <div class="content-wrap">
      <div class="wrap__start">
        <content-nav :now="0" :nodes="
  [
    {
       legend: '關於我們',  link: 'about_us.html',
        children:  [
          { legend: '我們的優勢', link: 'us_advantage.html'},
          { legend: '全球未來的發展', link: 'global_future.html'},
          { legend: '我們的成員', link: 'team.html'},
          { legend: '合作夥伴', link: 'partner.html'},
          { legend: '網站安全及稳定保障', link: 'security.html'},
      ]
    },
    {
       legend: '理財項目',
        children:  [
           { legend: '外匯產品', link: 'fx_product.html'},
          { legend: '與MS交易比特幣', link: 'bitcoin.html'},
          { legend: '交易平台', link: 'trading_platform.html'},
      ]
    },
      {
        legend: '交易培訓',
        children:  [
          { legend: '新手入門', link: 'gettingstarted.html'},
          { legend: '外匯市場特點', link: 'fx_feature.html'},
          { legend: '直通式处理交易经纪商 (STP)', link: 'stp.html'},
          { legend: '差價合約', link: 'cfds.html'},
          { legend: '基本知識', link: 'basics.html'},
          { legend: '如何交易比特幣', link: 'howtrade_bitcoin.html'},
          { legend: '基本分析', link: 'basic_analysis.html'},
          { legend: '技術分析', link: 'technical_analysis.html'},
          { legend: '常用術語', link: 'terms.html'},
      ]
    },
  ]"></content-nav>
      </div>
      <div class="wrap__end">
        <div class="content__inside">
         <h2>我們的成員</h2>
         	<strong class="team_name">首席運營官 丹尼爾 安德森</strong>
            <br/>
            <div class="team_photo"><img src="images/team_01.jpg" alt=""></div>
            
            <p>安德森先生在2009年加入MS集團，主管企業營銷與綜合業務拓展，負責建立集團整個的銷售策略與政策，憑藉20年豐富的金融專業知識與經驗，帶領集團成為運營總資產180億美元的大型投資集團。</p>
            
            <p><strong>曾任：</strong><br/>
            澳大利亞聯邦銀行首席信息官 (1995~2001)
            <br/>
            澳大利亞西太平洋銀行首席運營官 (2002~2005)
            <br/>
            澳大利亞澳盛銀行首席運營官 (2006~2009)            
            </p>
            <hr>
           	<strong class="team_name">首席營銷官 菲恩 金斯福德</strong>
            <br/>
            <div class="team_photo"><img src="images/team_02.jpg" alt=""></div>
            
            <p>金斯福德先生負責在MS集團中對市場營銷進行定位；從澳大利亞出發，放眼全球市場，把握市場機會，制定市場營銷戰略和實施計劃，完成集團的營銷目標。</p>
            
            <p><strong>曾任：</strong><br/>
            美國德豐傑風險投資公司市場總監 (1998-2003) 
            <br/>
            美國凱雷投資集團集團市場行銷總監 (2003-2005) 
            <br/>
            美國貝萊德集團環球市場執行官 (2005-2010)            
            </p>
            <hr>
           	<strong class="team_name">首席分析師 托馬斯 辛克萊</strong>
            <br/>
            <div class="team_photo"><img src="images/team_03.jpg" alt=""></div>
            
            <p>辛克萊先生長期鑽研並實踐於投資市場，開創出獨辟蹊徑的穩定獲利法，其精辟的分析無人能出其右， 2010年定居於澳大利亞，在2011年正式成為MS集團的的首席分析師。</p>
            
            <p><strong>曾任：</strong><br/>
            福瑞斯國際金融集團首席分析師 (1997~2003)
            <br/>
            美國嘉盛集團外彙分析組組長 (2003~2005)
            <br/>
            美國前總統布什私人理財顧問 (2005~2009)
            <br/>
            美國全國期貨協會(NFA)榮譽理事 (2005~2009)
            <br/>
            ANX 加密電子貨幣交易顧問    
            </p>
            <hr>
           	<strong class="team_name">首席信息官 傑克 愛德華</strong>
            <br/>
            <div class="team_photo"><img src="images/team_04.jpg" alt=""></div>
            
            <p>愛德華先生在2010年成為MS集團的首席信息官，為MS集團資訊部門的最高負責人 ，協助公司迅速的成長，為MS集團最重要的一位角色。</p>
            
            <p><strong>曾任：</strong><br/>
            澳大利亞聯邦銀行 市場服務經理 (1996-2002)
            <br/>
            澳大利亞國民銀行 客戶服務經理 (2003-2006)
            <br/>
            澳新銀行 客戶服務主任 (2007-2010)
            </p>
            <hr>
           	<strong class="team_name">首席技術長 迪克蘭 內維爾</strong>
            <br/>
            <div class="team_photo"><img src="images/team_05.jpg" alt=""></div>
            
            <p>內維爾先生為MS集團技術部門的最高負責人，工作內容為技術研發、應用實施，組織技術細節，將首席分析師的策略編寫成智能交易軟件，為MS集團不可或缺的一位靈魂人物。</p>
            
            <p><strong>曾任：</strong><br/>
             美國IBM集團關聯式資料庫管理系統主任 (2003~2006)
             <br/>
            美國美林證券外彙軟件開發部主任 (2007~2008)
            <br/> 
            美國摩根大通外彙交易團隊軟件研發組 (2008~2009)
            <br/> 
            硅谷動力網絡學院主任 (2009~2011)
            </p>
            <hr>
           	<strong class="team_name">首席財務官 亞當 漢普頓</strong>
            <br/>
            <div class="team_photo"><img src="images/team_06.jpg" alt=""></div>
            
            <p>漢普頓先生由董事會直接委派，自2010年以來一直扮演著MS集團首席財務官一職，協助公司飛快的成長，扮演著促進集團增長的關鍵成員之一。</p>
            
            <p><strong>曾任：</strong><br/>
                英商巴克萊集團基金對衝經理 (1999~2001)
                <br/> 
                英國勞埃德銀行避險基金經理人 (2002~2005) 
                <br/>
                英國安本資產管理公司高階主管 (2006~2007) 
                <br/>
                英國前首相戈登布朗財政規劃師 (2007~2009)
            </p>
            <hr>             
           	<strong class="team_name">首席法務官 艾瑪 卡維爾</strong>
            <br/>
            <div class="team_photo"><img src="images/team_07.jpg" alt=""></div>
            
            <p>卡維爾女士的職責是為集團的經營和決策提供法律支持，處理集團涉及的訴訟、仲裁，協調、處理集團在全球的法律事宜。</p>
            
            <p><strong>曾任：</strong><br/>
                澳大利亞寶澤集團法律顧問 (1998-2003)
                <br/> 
                澳大利亞澳盛銀行法律顧問 (2003-2005) 
                <br/>
                西太平洋銀行法律顧問 (2006-2008) 
                <br/>
                澳大利亞美國眾達律師事務所
                <br/>
                澳大利亞分部副所長 (2006-2010)
            </p>
        </div>
      </div>
    </div>
    <footer class="footer">
      <nav class="footer__nav"><a class="footer__nav__node" href="privacy_statement.html">保護客戶資料聲明</a><a class="footer__nav__node" href="high_risk_warning.html">風險警告</a><a class="footer__nav__node" href="execution_policy.html">交易執行策略</a></nav>
      <p class="footer__copyright"><span>COPYRIGHT© 2009-2016 -</span><span>Fortune Securities PTY LTD</span></p>
      <p><span>電話:</span><a href="tel:+61862252020">+61 8 6225 2020</a></p>
      <p><span>Email:</span><a href="mailto:cs@mforex.com">cs@mforex.com</a></p>
    </footer>
    <aside class="right-ad">
      <a href="#" target="_blank"><img src="images/upload/right_ad.png"></a>
    </aside>
    <aside class="go-top" @click="goTop()"></aside>
  </div>
  <script type="text/x-template" id="content-nav-template">
    <div class="content-nav" v-if="nodes.length &gt;= 1"><a class="content-nav__result" @click.prevent="navAction()" :class="{ 'js--opened': isNavOpen }"><span>{{ nodes[now].legend }}</span></a>
      <ul class="content-nav__nodes" :class="{ 'js--opened': isNavOpen }"><template v-for="node, i in nodes"><li class="ul__legend">{{ node.legend }}</li><template v-for="child, k in node.children"><transition name="content-nav-node"><li :class="{ 'js--opened': isNavOpen }" :style="{ 'transition-delay': delay(k)}"><a :href="child.link">{{ child.legend }}</a></li></transition></template></template>
      </ul>
    </div>
  </script>
  <script type="text/x-template" id="page-header-template">
    <div class="page-header"><template><div class="header__start" :class="{ 'js--active': menuActive }"><slot name="logo"></slot><div class="header__menu"><div class="header--pad header--pad--no-pc"><div class="header__flex"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
    </div>
    <a class="menu-btn__hamburger" @click.prevent="menuAction">
      <div class="hamburger__nodes" :class="{ 'js--active': menuActive }"><span class="node"></span></div><span class="hamburger__legend">{{ menuTitle }}</span></a>
    </div>
    </div>
    <div class="header__end" :class="{ 'js--active': menuActive }">
      <div class="header__box"><template v-for="boxGroup in menus.boxGroups"><box-group :link="boxGroup.link" :target="boxGroup.target" :legend="boxGroup.legend" :nodes="boxGroup.nodes"></box-group></template>
        <div class="header--mobile header--mobile--but-pc">
          <div class="sp-links-box"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
        </div>
        <box-group :legend="menus.language.legend" :nodes="menus.language.nodes" :append-class="'lang'"></box-group>
      </div>
    </div>
    </template>
    </div>
  </script>
  <script type="text/x-template" id="box-group-template">
    <div class="header__box__group" @mouseenter.prevent="onMouseenter()" @mouseleave.prevent="onMouseleave()"><template><hr><a class="h2" :href="link" :class="[{ 'js--active': active }, appendClass]">{{ legend }}</a><ul :class="[{ 'js--active': active }, appendClass]"><template v-for="node, i in nodes"><transition name="content-nav-node"><li><a :href="node.link" :target="node.target">{{ node.legend }}</a></li></transition></template></ul>
      </template>
    </div>
  </script>
  <script type="text/x-template" id="slider-box-template">
    <div class="slider-box">
      <div class="slider__wrap">
        <div class="slider__contents"><template v-for="node, i in nodes"><transition name="shoow-box"><div class="slider__content" :class="nodeClass" v-show="nowNode == i"><img class="slider-box__img" :src="node.src"><div class="contents"><h3>{{ node.h3 }}</h3><p>{{ node.p }}</p><div class="button">{{ node.button }}</div></div></div></transition></template></div>
        <a
          class="slider__link" :href="nodes[nowNode].link" :target="nodes[nowNode].target" @mouseenter="stopRoutine()" @mouseleave="routine()">{{ nodes[nowNode].h3 }}</a><a class="slider__last slider__action" @click="nodeAction({action: 'last'})">last</a><a class="slider__next slider__action" @click="nodeAction({action: 'next'})">next</a></div>
    </div>
  </script>
  <script type="text/x-template" id="scroll-template">
    <div class="scroll" @click="doScroll">
      <p>scroll</p>
    </div>
  </script>
  <script src="scripts/script.min.js" type="text/javascript"></script>
</body>

</html>
