<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
  <meta content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0" name="viewport">
  <title>Fortune Securities PTY LTD</title>
  <script src="bower_components/vue/dist/vue.min.js" type="text/javascript"></script>
  <script src="bower_components/hammerjs/hammer.min.js" type="text/javascript"></script>
  <script type="text/javascript">
	  var hmt = hmt || [];
	(function() {
	  var hm = document.createElement("script");
	  hm.src = "https://hm.baidu.com/hm.js?4a05b34486517c3ca9700afa315ce086";
	  var s = document.getElementsByTagName("script")[0]; 
	  s.parentNode.insertBefore(hm, s);
	})();
  </script>
  <link rel="stylesheet" href="style/style.css">
  <link href="style/table.css" rel="stylesheet" type="text/css">
</head>

<body>
  <div class="container">
 <page-header :menus="{
      spLinks: [
        { legend: 'MEMBER LOGIN', link: 'https://subscriber.mforex.com/MLMDW/Default.aspx?lang=2', bgPad: true },
        { legend: 'CONTACT US', link: 'content_us.html' }
      ],
      language: {
        legend: 'LANGUAGE',
        nodes: [
          { legend: 'ENGLISH', link: 'index.html' },
          { legend: '简体中文', link: 'CN/index.html' },
          { legend: '繁体中文', link: 'TW/index.html' }
        ]
      },
      boxGroups: [
        {
          legend: 'ABOUT US', link: 'about_us.html',
          nodes: [
            { legend: 'OUR ADVANTAGES', link: 'us_advantage.html' },
            { legend: 'FUTURE DEVELOPMENT', link: 'global_future.html' },
            { legend: 'OUR GROUPS', link: 'team.html' },
            { legend: 'PARTNERSHIP', link: 'partner.html' },
            { legend: 'STABILITY AND SECURITY', link: 'security.html' },
          ]
        },
        {
          legend: 'FINANCE PROJECT',
          nodes: [
            { legend: 'OUR FOREX PRODUCTS', link: 'fx_product.html' },
            { legend: 'TRADING BITCOIN WITH MS', link: 'bitcoin.html' },
            { legend: 'OUR TRADING PLATFORM', link: 'trading_platform.html' },
          ]
        },
        {
          legend: 'EDUCATION',
          nodes: [
            { legend: 'NEW TO FOREX', link: 'gettingstarted.html' },
            { legend: 'FOREXS FEATURE', link: 'fx_feature.html' },
            { legend: 'AN STP BROKER', link: 'stp.html' },
            { legend: 'CONTRACTS FOR DIFFERENCES', link: 'cfds.html' },
            { legend: 'TRADING BASICS', link: 'basics.html' },
            { legend: 'HOW TO TRADE BITCOIN', link: 'howtrade_bitcoin.html'},
            { legend: 'FUNDAMENTAL ANALYSIS', link: 'basic_analysis.html' },
            { legend: 'TECHNICAL ANALYSIS', link: 'technical_analysis.html' },
            { legend: 'GLOSSARY', link: 'terms.html' },

          ]
        }
      ]
    }" menu-title="Menu">
      <a href="index.html" slot="logo">
        <h1 class="header__logo">MS</h1>
      </a>
    </page-header>
    <div class="content-wrap">
      <div class="wrap__whole">
        <slider-box :nodes="[
      {src: 'images/upload/banner.jpg', link: 'us_advantage.html', h3: 'Our Advantages', p: 'Transparent Real-Time Bid/Offer Pricing Available', button: 'More'},
      {src: 'images/upload/banner02.jpg', link: 'bitcoin.html', h3: 'Trading Bitcoin with MS', p: '', button: 'More'},
      {src: 'images/upload/banner03.jpg', link: 'stp.html', h3: 'An STP Broker', p: 'We provide quality price feeds from the top international liquidity providers.', button: 'More'},

    ]" :speed="4500"></slider-box>
        <section class="index__wrap p0">
          <h2>OUR ADVANTAGES</h2>
          <div class="wrap_boxes">
            <div class="wrap_box"><img src="images/upload/p0_0.jpg" alt="">
              <h3>Transparent Real-Time Bid/Offer Pricing Available</h3>
              <p>It allows us to avoid the conflict of interest where some firms may put their trading P/L ahead of their clients.</p><a href="us_advantage.html">More</a></div>
            <div class="wrap_box"><img src="images/upload/p0_1.jpg" alt="">
              <h3>Around the World & Around the Clock</h3>
              <p>Foreign Exchange trading is a 24-hour a day, 5 plus day a week market that trades from time zone to time zone around the globe. From 5:00 PM EST on Sunday to 4:00 PM EST on Friday, MS customers have real-time access to live trading prices.</p><a href="us_advantage.html">More</a></div>
            <div class="wrap_box"><img src="images/upload/p0_2.jpg" alt="">
              <h3>Top Technical Charting Capability</h3>
              <p>MS's trading platforms incorporate full charting packages with tic charts, and minute, hourly, daily and weekly charts. Chart types include candlestick, tic and bar charts. Bollinger Bands, Trend Lines, Moving Averages, Stochastic, MACD and Momentum can also be added.</p><a href="us_advantage.html">More</a></div>
            <div class="wrap_box"><img src="images/upload/p0_3.jpg" alt="">
              <h3>Deposited Funds Policy</h3>
              <p>Being associated with a firm like MS, one that was founded by a global brokerage operation, gives our customers peace of mind. Client funds are segregated from MS Corporate funds and receive priority in the event of bankruptcy.</p><a href="us_advantage.html">More</a></div>
            <div class="wrap_box"><img src="images/upload/p0_4.jpg" alt="">
              <h3>MS does not charge a commission on transactions executed on its standard retail platforms</h3>
              <p>The price you deal on is the "all in cost" to you. MS is compensated through a portion of the bid/ask spread. In addition, there are no hidden setup fees for opening an account. MS also offers commission based platforms for institutional quality accounts.<br/><br/></p><a href="us_advantage.html">More</a></div>
            <div class="wrap_box"><img src="images/upload/p0_5.jpg" alt="">
              <h3>Redundant and Secure Applications</h3>
              <p>MS's trading platforms are fully redundant and secure applications. The applications were built with the latest technology to insure that you can enjoy un-interrupted service 24-hours a day. </p><a href="us_advantage.html">More</a></div>
          </div>
        </section>
        <scroll></scroll>
 <section class="index__wrap p1">
          <h2>FUTURE DEVELOPMENT</h2>
          <p>MS will expand the concept of innovation, qualified service, and free financial trading to all corners of the world.</p><img src="images/upload/p1_0.jpg">
          <h3>Individual IB Plan</h3>
          <p>We customize our products and services to meet requirements of every IB. MS provides you a series of completed forex service. IBs will have great opportunities to develop their business in MS. We believe that IB is a necessary bridge between clients and settlement companies because of the individual and customized services they provide. We focus on providing the necessary support to IB and thus, they can attract more clients to our business effectively.</p>
          <div class="wrap_boxes">
          <a class="wrap_box" href="global_future.html">Promotional Material</a>
          
          <a class="wrap_box" href="global_future.html">Professional Backing Support</a>
          
          <a class="wrap_box" href="global_future.html">Unique Study Abroad Plan for IBs</a>
          
          <a class="wrap_box" href="global_future.html">Global Professional Manager Plan</a>
		</div>	
        </section>
        <scroll></scroll>
        <section class="index__wrap p2">
          <h2>OUR GROUPS</h2>
          <div class="wrap_boxes">
            <div class="wrap_box"><img src="images/upload/p2_0.jpg">
              <h3><span>Chief Operating Officer </span><span>Daniel Anderson</span></h3>
              <p>Mr Anderson joined MS Group on 2009 as a Director of corporate marketing and integrated business development, and is responsible for establishing the Group's entire sales strategy and policy. With over 20 years of rich professional experience and financial knowledge, he led the group to become a large Investment Group with total operating assets of $ 18 billion</p>
              <p class="strong">Previous position：<br/>Chief Information Officer, Commonwealth Bank of Australia<br/>
Australia's Westpac Chief Operating Officer (2002 to 2005)
<br/>
ANZ Australia chief operating officer (2006 to 2009)</p>

            </div>
            <div class="wrap_box"><img src="images/upload/p2_1.jpg">
              <h3><span>Chief Marketing Officer</span><span>Finn Kingsford</span></h3>
              <p>Mr. Kingsford is responsible for market positioning in MS Group: From Australia to the global market, he seizes market opportunities, develops marketing strategy and implementation plan in order to complete the Group's marketing goals.</p>
              <p class="strong">Previous position：<br/>American Marketing Director Draper Fisher Jurvetson venture capital firm (1998-2003)<br/>
Carlyle Group Group Market Marketing director (2003-2005)
<br/>
US BlackRock Global Marketing Officer (2005-2010)
</p>
            </div>
            <div class="wrap_box"><img src="images/upload/p2_2.jpg">
              <h3><span>Chief Analyst</span><span>Thomas Sinclair</span></h3>
              <p>Mr. Sinclair has long term research and practice in the investment market, and created a unique way to achieve stable profit. No one can match his insightful analysis. In 2011, he officially became MS Group’s Chief Analyst.</p>
              <p class="strong">Previous position：<br/>Fries International Financial Group Principal analyst (1997 to 2003)
              <br/>
GAIN Capital Group Forex Analysis Group Leader (2003 to 2005)
<br/>
Former US President George W. Bush a private financial consultant (2005 to 2009)
<br/>
National Futures Association (NFA) honorary member (2005 to 2009)
<br/>
ANX encrypted electronic currency trading adviser
</p>
            </div>
            <div class="wrap_box"><img src="images/upload/p2_3.jpg">
              <h3><span>Chief Information Officer</span><span>Jack Edwards</span></h3>
              <p>Mr. Edwards became MS Group’s CIO in 2010. He has been playing an MS Group Chief Information Officer  and assisted the company to grow quickly. He is one of the key members of the group.</p>
              <p class="strong">Previous position：<br/>Commonwealth Bank of Australia Marketing Manager (1996-2002)<br/>
National Australia Bank Ltd Customer Manager (2003-2006)
<br/>
Australia and New Zealand Banking Group Limited Customer Manager (2007-2010)
</p>
            </div>
          </div>
          <div class="box-link"><a href="team.html">More</a></div>
        </section>
        <scroll></scroll>
        <section class="index__wrap p3">
          <h2>PARTNERSHIP</h2>
          <p>MS IBs work with individuals or companies to provide a competitive bonus program. By working with us, IBs will have income in the first month. Providing free web-site production, trades, into gold, on trading volume, number of clients and other revenue sharing models, and the maximum at the same time enjoy the four kinds of cumulative commission revenue model, plus a variety of other custom revenue models to choose from.：<br/><strong>MT customer management software</strong><br/>Efficient management of customers and statistics and enhance work performance to develop marketing programs</p>
          <p><strong>Complete back-office services</strong><br/>IBs can focus on developing and maintaining customer relationships. MS headquarters is responsible for handling customer accounts, capital access, transfers, and other issues. Our customer support is a 24-hour service, allowing customers to ask questions at any time of the day and converting to gold.</p>
          <p><strong>Targeted marketing programs</strong><br/>Whether its from the Americas, Europe, Asia-Pacific market, we collect from the IBs and customers suggestions and comments, as well as a variety of information feedback. We will discuss with the IBs with an open-mind, the development of our marketing programs for the different countries and regions. Our advantage is we have a keen sense of smell on the market, a rapid response capability, and the open-mindedness to accept comments and suggestions.</p>
        </section>
        <scroll></scroll>
        <section class="index__wrap p4">
          <h2>Stability and Security</h2><img src="images/upload/p4_0.png">
          <h3>We recognise the importance of trust and confidence you need to have in us. We are committed to maintain confidentiality, integrity and security of our clients’ personal information.</h3>
          <p><strong>Secure Sockets Layer encrypted websites</strong><br/>As our on-going initiatives towards client information security, we have secured and encrypted our websites with state-of-the-art Secure Sockets Layer (SSL) and 128-bit encryption DigiCert SSLs Certificates. SSL helps encrypt and protect any on-going information on our organisation website, thus ensuring that all information stays private and well-protected. <br/>SSL utilises a cryptographic system that uses two keys to encrypt data, which includes a private key known only to the recipient. It is widely used by banks and established online shops, who handle confidential user information such as bank accounts and credit card numbers on a regular basis. </p>
          <p><strong>The DigiCert Trusted Seal </strong><br/>The DigiCert Trusted seal verifies our membership with DigiCert. For optimum security, clients should always upgrade their browsers to the latest version.</p>
        </section>
        <scroll></scroll>
        <section class="index__wrap p5">
          <h2>OUR FOREX PRODUCTS</h2><img src="images/upload/p5_0.jpg">
          <div class="wrap_boxes">
            <div class="wrap_box">
              <p><strong>1.Introduction</strong><br/><b>Highest liquidation</b><br/>The trading volume in Foreign Exchange Market is over 5 trillion dollars on average per day. It can be called as the market with the highest liquidation in the world. So, traders can come and go in any market situation. There are almost no obstacles or risks on implementation and no limits of daily trading volume, either.</p><a href="fx_product.html">More</a></div>
            <div class="wrap_box">
              <p><strong>2.Calculations of Profit/Loss</strong><br/><b>Calculations of Profit/Loss</b><br/>(1) Profit/Losses of Valuation Currency USDJPY, USDCHF and USDCAD (Selling price - buying price)*contract value*amount of contracts/closing price = profits/losses valuated by USD</p><a href="fx_product.html">More</a></div>
            <div class="wrap_box">
              <p><strong>3.An Example of Foreign Exchange Trade</strong><br/><b>
Leveraged Trading</b><br/>Opening Price：1.5530<br/>Trade Size：100,000<br/>Cost of Investment：1,000<br/>Close Price：1.5630<br/>Points of Profits：1.5630-1.5530=0.01000=100點 Value for 1 pointr：$10<br/>Net Profit/Net Loss:1,000<br/>ROI:1,000/1,000*100%=100%</p><a href="fx_product.html">More</a></div>
          </div>
        </section>
        <scroll></scroll>
        <section class="index__wrap p6">
          <h2>TRADING BITCOIN WITH MS</h2>
          <p>MS offers bitcoin derivatives trading in the form of CFD trading. All of MS’s products offer ways to trade bitcoin with enhanced security and flexibility. Moreover, they operate in different ways and appeal to different traders.</p><img src="images/upload/p6_0.jpg">
          <div class="wrap_boxes">
            <div class="wrap_box">
              <p><b>BITCOIN CFD TRADING</b><br/>CFD trading enables you to speculate on whether bitcoin will move up or down without any of the actual crypto-currency trading hands. The greater the price movement of the bitcoin, the greater the profit (or loss).</p><a href="bitcoin.html">More</a></div>
            <div class="wrap_box">
              <p><b>BENEFITS</b><br/>Traders who trade CFDs on bitcoin never actually own any crypto-currency. For this reason, many of the potential difficulties and risks associated with bitcoins are negated, There is no need for a bitcoin wallet.</p><a href="bitcoin.html">More</a></div>
            <div class="wrap_box">
              <p><b>BITCOIN CFDS – THE RISKS</b><br/>Bitcoin CFD trading losses can run indefinitely. Most CFDs are leveraged and bought on margin, which means that you are exposed to the full value of the contract for a fraction of its total cost.</p><a href="bitcoin.html">More</a></div>
          </div>
        </section>
        <scroll></scroll>
        <section class="index__wrap p7">
          <h2>OUR TRADING PLATFORM</h2>
          <p>Fast, reliable, and secure online trading for serious investors. All of our platforms are integrated with the market leading MS Trader MT4 advanced online trading platform. It is currently the industry leader and was developed to provide a unique trading experience delivering fast, reliable, and secure trades in a user-friendly interface.</p>
          <div class="wrap_boxes">
            <div class="wrap_box"><img class="mobile" src="images/upload/p7_0.jpg"><img class="pc" src="images/upload/p7_0_pc.jpg"></div>
            <div class="wrap_box">
              <p><strong>7 Reasons to try MS Trader</strong><br/><b>1.Multi-product platform：</b><br/>Trade all major forex, energy, metal, soft commodity, equity, and indices right from your desktop.</p>
              <p><b>2.Advanced charting tools：</b><br/>Take advantage of both simple and advanced charting</p>
              <p><b>3.Live real-time tradable prices：</b><br/> Pricing engine derives feeds from inter-bank and exchange trading systems so you get instant information in a transparent manner</p>
              <p><b>4.Unprecedented speed：</b><br/>We complement our live-streaming prices with state-of-the-art technology to handle your trades and working orders with unprecedented speed of response and total impartiality</p>

              <p><b>5.Advanced program trading：</b><br/>Implements the most advanced trading strategies; place markets, stops, limits, OCOs, and Contingent or if-Done orders</p>
              <p><b>6.Market leading management and reporting tools：</b><br/>real-time information on all client positions and information</p>
              <p><b>7.Security and 24-hour support：</b><br/>We complement our trading platform with a 24-hr customer service and dealing support. You may communicate with our team via phone, email, and web chat.</p>
            </div>
          </div>
        </section>
        <scroll></scroll>
        <section class="index__wrap p8">
          <h2>NEW TO FOREX</h2>
          <p><b>Introduction to the Foreign Exchange Markets</b><br/>Although the foreign exchange market is the largest traded market in the world, its reach to the retail sector pales in comparison to the Equity and Fixed Income markets. This is in large part due to a general lack of awareness of FX in the investor community, along with a lack of understanding of how and why currencies move. Adding to the mystique of this market is the lack of a physical central exchange akin to the NYSE or the CME. It is this very lack of structure that enables the FX markets to operate on a 24-hour basis, beginning the trading day in New Zealand and continuing through the time zones.</p>
          <div
            class="wrap_boxes"><a class="wrap_box" href="gettingstarted.html">What is Foreign Exchange?</a><a class="wrap_box" href="gettingstarted.html">The Liquid Currency Pairs</a><a class="wrap_box" href="gettingstarted.html">Foreign Currency Symbols</a><a class="wrap_box" href="#">The Base and Counter Currency</a><a class="wrap_box" href="gettingstarted.html">
The Value of Currencies</a><a class="wrap_box" href="gettingstarted.html">Transacting Foreign Exchange Fundamentals</a></div>
      </section>
      <scroll></scroll>
      <section class="index__wrap p9">
        <h2>FOREX'S FEATURE</h2>
        <p>The forex market is more liquid than any other financial market as it opens to participants globally and at all times, making its trading volume the highest with a turnover of US$ 5 trillion daily. Foreign exchange is often referred to as forex or FX, and is the domain in which the exchange of money between two countries takes place at a mutually agreed rate. </p>
        <div class="wrap_boxes"><a class="wrap_box" href="fx_feature.html">Forex is an Over-the-Counter Market (OTC)</a><a class="wrap_box" href="fx_feature.html">Trade with Leverage</a><!--<a class="wrap_box" href="fx_feature.html">保證金交易</a><a class="wrap_box" href="fx_feature.html">不受景氣影響</a><a class="wrap_box" href="fx_feature.html">外匯市場的主要參與者</a>--></div>
      </section>
      <section class="index__wrap p10">
        <h2>REAL TIME FOREX CURRENCIES</h2><iframe id="frame-one" scrolling="no" frameborder="0" src="http://widgets.myfxbook.com/widgets/quotes-rate.html?symbols=8,9,10,11,12,6,13,14,15,17,7,1,4,2,28,5,29,3,50,51&columns=1,2,3,4" height="597" width="100%"></iframe></section>
      <scroll></scroll>
      <section class="index__wrap p11">
        <h2>AN STP BROKER</h2>
        <h3>We provide quality price feeds from the top international liquidity providers.</h3>
        <p><b>Benefits of STP：</b></p>
        <div class="wrap_boxes"><a class="wrap_box" href="stp.html">Competitive spreads</a><a class="wrap_box" href="stp.html">✔Minimal slippage</a><a class="wrap_box" href="stp.html">No manual intervention</a><a class="wrap_box" href="stp.html">Instant order fills</a><a class="wrap_box" href="stp.html">Fair pricing</a><a class="wrap_box" href="stp.html">Real-time executable streaming quotes</a></div>
        <div
          class="box-link"><a href="stp.html">More</a></div>
    </section>
    <scroll></scroll>
    <section class="index__wrap p12">
      <h2>Contracts for Differences</h2><img class="pc" src="images/upload/p12_pc.jpg"><img class="pad" src="images/upload/p12_pad.jpg"><img class="mobile" src="images/upload/p12_mobile.jpg">
      <p>CFDs is traded on margin between a trader and a CFDs provider, to exchange the cash difference between the opening price and closing price of a transaction. CFDs products are introduced for products that are usually less accessible to retail investors, allowing retail clients to trade shares, equity indices and futures. Trading CFDs is flexible as there isn't any commission, trading fees, clearing fees or stamp duty. </p>
      <div class="box-link"><a href="cfds.html">More</a></div>
  </section>
  <scroll></scroll>
  <section class="index__wrap p13">
    <h2>EDUCATION</h2><img class="pc" src="images/upload/p13_pc.jpg"><img class="pad" src="images/upload/p13_pad.jpg"><img class="mobile" src="images/upload/p13_mobile.jpg">
    <div class="wrap_boxes"><a class="wrap_box" href="basic_analysis.html">FUNDAMENTAL ANALYSIS</a><a class="wrap_box" href="basics.html">TRADING BASICS</a><a class="wrap_box" href="howtrade_bitcoin.html">HOW TO TRADE BITCOIN</a><a class="wrap_box" href="technical_analysis.html">TECHNICAL ANALYSIS</a><a class="wrap_box" href="terms.html">GLOSSARY</a></div>
  </section>
  <scroll></scroll>
  <section class="index__wrap p14">
    <h2>CONTACT US</h2><img class="pc" src="images/upload/p14_pc.jpg"><img class="pad" src="images/upload/p14_pad.jpg"><img class="mobile" src="images/upload/p14_mobile.jpg">
    <h3>FORTUNE SECURITIES PTY LTD</h3>
    <section class="contact-box">
      <aside>
        <div class="icon0 aside_icon"></div><a>:Level1, 681 murray street west perth wa 6005, australia.</a></aside>
      <aside>
        <div class="icon1 aside_icon"></div><a>:tel+61 8 6225 2020</a></aside>
      <aside>
        <div class="icon2 aside_icon"></div><a>:cs@mforex.com</a></aside>
      <aside>
        <div class="icon3 aside_icon"></div><a>:www.mforex.com</a></aside>
    </section>
  </section>
  </div>
  </div>
        <footer class="footer">
      <nav class="footer__nav"><a class="footer__nav__node" href="privacy_statement.html">Privacy Statement</a><a class="footer__nav__node" href="high_risk_warning.html">High Risk Warning</a><a class="footer__nav__node" href="execution_policy.html">Execution Policy</a></nav>
      <p class="footer__copyright"><span>COPYRIGHT© 2009-2016 -</span><span>Fortune Securities PTY LTD</span></p>
      <p><span>Phone:</span><a href="tel:+61862252020">+61 8 6225 2020</a></p>
      <p><span>Email:</span><a href="mailto:cs@mforex.com">cs@mforex.com</a></p>
    </footer>

  <aside class="right-ad">
    <a href="http://fastpay88.com/projectUrl.php?id=13" target="_blank"><img src="images/upload/right_ad.png"></a>
  </aside>
  <aside class="go-top" @click="goTop()"></aside>
  </div>
  <script type="text/x-template" id="content-nav-template">
    <div class="content-nav" v-if="nodes.length &gt;= 1"><a class="content-nav__result" @click.prevent="navAction()" :class="{ 'js--opened': isNavOpen }"><span>{{ nodes[now].legend }}</span></a>
      <ul class="content-nav__nodes" :class="{ 'js--opened': isNavOpen }"><template v-for="node, i in nodes"><li class="ul__legend">{{ node.legend }}</li><template v-for="child, k in node.children"><transition name="content-nav-node"><li :class="{ 'js--opened': isNavOpen }" :style="{ 'transition-delay': delay(k)}"><a :href="child.link">{{ child.legend }}</a></li></transition></template></template>
      </ul>
    </div>
  </script>
  <script type="text/x-template" id="page-header-template">
    <div class="page-header"><template><div class="header__start" :class="{ 'js--active': menuActive }"><slot name="logo"></slot><div class="header__menu"><div class="header--pad header--pad--no-pc"><div class="header__flex"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
    </div>
    <a class="menu-btn__hamburger" @click.prevent="menuAction">
      <div class="hamburger__nodes" :class="{ 'js--active': menuActive }"><span class="node"></span></div><span class="hamburger__legend">{{ menuTitle }}</span></a>
    </div>
    </div>
    <div class="header__end" :class="{ 'js--active': menuActive }">
      <div class="header__box"><template v-for="boxGroup in menus.boxGroups"><box-group :link="boxGroup.link" :target="boxGroup.target" :legend="boxGroup.legend" :nodes="boxGroup.nodes"></box-group></template>
        <div class="header--mobile header--mobile--but-pc">
          <div class="sp-links-box"><template v-for="link, i in menus.spLinks"><a class="sp-link" :href="link.link" :class="{ 'js--bg-pad': link.bgPad }">{{ link.legend }}</a></template></div>
        </div>
        <box-group :legend="menus.language.legend" :nodes="menus.language.nodes" :append-class="'lang'"></box-group>
      </div>
    </div>
    </template>
    </div>
  </script>
  <script type="text/x-template" id="box-group-template">
    <div class="header__box__group" @mouseenter.prevent="onMouseenter()" @mouseleave.prevent="onMouseleave()"><template><hr><a class="h2" :href="link" :class="[{ 'js--active': active }, appendClass]">{{ legend }}</a><ul :class="[{ 'js--active': active }, appendClass]"><template v-for="node, i in nodes"><transition name="content-nav-node"><li><a :href="node.link" :target="node.target">{{ node.legend }}</a></li></transition></template></ul>
      </template>
    </div>
  </script>
  <script type="text/x-template" id="slider-box-template">
    <div class="slider-box">
      <div class="slider__wrap">
        <div class="slider__contents"><template v-for="node, i in nodes"><transition name="shoow-box"><div class="slider__content" :class="nodeClass" v-show="nowNode == i"><img class="slider-box__img" :src="node.src"><div class="contents"><h3>{{ node.h3 }}</h3><p>{{ node.p }}</p><div class="button">{{ node.button }}</div></div></div></transition></template></div>
        <a
          class="slider__link" :href="nodes[nowNode].link" :target="nodes[nowNode].target" @mouseenter="stopRoutine()" @mouseleave="routine()">{{ nodes[nowNode].h3 }}</a><a class="slider__last slider__action" @click="nodeAction({action: 'last'})">last</a><a class="slider__next slider__action" @click="nodeAction({action: 'next'})">next</a></div>
    </div>
  </script>
  <script type="text/x-template" id="scroll-template">
    <div class="scroll" @click="doScroll">
      <p>Scroll</p>
    </div>
  </script>
  <script src="scripts/script.min.js" type="text/javascript"></script>
</body>

</html>
